{% extends '::base.html.twig' %}

{% block body %}
    <h1>Oups ! La page que tu cherches n'existe pas.</h1>
    <h2>Error 404 !</h2>
    <footer>&COPY;2017 Copyright Rocketfire, Inc. all rights reserved</footer>
{% endblock %}

