{% extends '::base.html.twig' %}

{% block body %}
    <h1>Oups ! Erreur interne au serveur, la page est inaccessible.</h1>
    <h2>Error 500 !</h2>
    <footer>&COPY;2017 Copyright Rocketfire, Inc. all rights reserved</footer>
{% endblock %}

