{% extends '::base.html.twig' %}

{% block body %}
    <h1>Oups ! Tu n'as pas l'autorisation nécessaire.</h1>
    <h2>Error 403 !</h2>
    <footer>&COPY;2017 Copyright Rocketfire, Inc. all rights reserved</footer>
{% endblock %}

