.inline {
    display: inline;
}
div.fond_home {
    background-image: url('images/fond_home.jpg');
    background-size: 110%;
    height: 1200px;
    width: 1918px;
    position: absolute;
    left: 0px;
    top: -250px;
}
h1.home {
    margin-top: 300px;
    margin-left: 10px;
    font-size: 4em;
    font-family: verdana;
}
