{% extends 'base.html.twig' %}

{% block body %}
    <h1>Villes list</h1>
    <a href="{{ path('ville_new') }}">
        <button type="button" class="btn btn-info">
            Create a new aeroport
        </button>
    </a>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.nom }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('ville_show', { 'id': ville.id }) }}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </a>
                    <a href="{{ path('ville_edit', { 'id': ville.id }) }}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
