{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vols list</h1>
    <a href="{{ path('vol_new') }}">
        <button type="button" class="btn btn-info">
            Create a new aeroport
        </button>
    </a>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datedepart</th>
                <th>Datearrivee</th>
                <th>Heuredepart</th>
                <th>Heurearrivee</th>
                <th>AeroportDepart</th>
                <th>AeroportArrivee</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% include 'RocketfireAgenceMainBundle:Vol:table.body.html.twig' %}
    </table>

{% endblock %}
