{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienneVol:deleteCompagnieAerienneVol{% endblock %}

{% block body %}
    <h1>Effacement du vol de la compagnie aérienne</h1>

    {% for flashMessage in app.session.flashBag.get('notice') %}
        <p>
            {{ flashMessage }}
        </p>
    {% endfor %}
    <form action='{{ path('CompagnieAerienneVol_add') }}'>
        <button type="submit">Ajouter un vol de compagnie aérienne</button>
    </form>

    <form action='{{ path('CompagnieAerienneVol_list') }}'>
        <button type="submit">Retour à la liste</button>
    </form>
{% endblock %}
