{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienneVol:deleteCompagnieAerienneVol{% endblock %}

{% block body %}
<h1>Welcome to the CompagnieAerienneVol:deleteCompagnieAerienneVol page</h1>
{% endblock %}
