{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienneVol:deleteCompagnieAerienneVol{% endblock %}

{% block body %}
    <h1>Effacement du vol de la compagnie aérienne</h1>

    <div class="btn-group" role="group">
        <a href="{{ path('CompagnieAerienneVol_add') }}">
            <button type="button" class="btn btn-info">
                Créer un nouveau vol de compagnie aerienne
            </button>
        </a>

        <a href="{{ path('CompagnieAerienneVol_list') }}">
            <button type="button" class="btn btn-default">
                Retour
            </button>
        </a>
    </div>
        
    {% for flashMessage in app.session.flashBag.get('notice') %}
        <p>
            {{ flashMessage }}
        </p>
    {% endfor %}

{% endblock %}
