{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienneVol:editCompagnieAerienneVol{% endblock %}

{% block body %}
<h1>Welcome to the CompagnieAerienneVol:editCompagnieAerienneVol page</h1>
{% endblock %}
