{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienneVol:listCompagnieAerienneVol{% endblock %}

{% block body %}
<h1>Welcome to the CompagnieAerienneVol:listCompagnieAerienneVol page</h1>
{% endblock %}
