{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienneVol:listCompagnieAerienneVol{% endblock %}

{% block body %}
    <h1>Welcome to the CompagnieAerienneVol:listCompagnieAerienneVol page</h1>

    <header><h1>Liste des vols de compagnie aérienne</h1></header>
    <table class="table table-hover table-striped">
        <tr>
            <th>Numero</th>
            <th>Ouvert</th>
        </tr>
        {% for compagnieAerienneVol in compagnieAerienneVols %}
            {# boucle de construction de la liste des compagnieAerienneVols #}
            <tr>
                <td>{{ compagnieAerienneVol.numero }}</td>
                <td>{{ compagnieAerienneVol.ouvert }}</td>
            </tr>
        {% endfor %}
    </table>

    {% for flashMessage in app.session.flashBag.get('notice') %}
        <p>
            {{ flashMessage }}
        </p>
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
    <form action='{{ path('CompagnieAerienneVol_add') }}'>
        <button type="submit">Ajouter un vol de compagnie aérienne</button>
    </form>
    {% endif %}
{% endblock %}
