{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienneVol:showCompagnieAerienneVol{% endblock %}

{% block body %}
<h1>Welcome to the CompagnieAerienneVol:showCompagnieAerienneVol page</h1>
{% endblock %}
