{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienneVol:showCompagnieAerienneVol{% endblock %}

{% block body %}
    <h1>Welcome to the CompagnieAerienneVol:showCompagnieAerienneVol page</h1>

    <h1>Détails d'un vol de compagnie aérienne</h1>
    <h3>Vol n°{{ compagnieAerienneVol.numero }}</h3>
    
    <form action='{{ path('CompagnieAerienneVol_edit' , { 'id' : compagnieAerienneVol.id }) }}'>
        <button type="submit">Modifier la compagnie aérienne</button>
    </form>
    <form action='{{ path('CompagnieAerienneVol_delete' , { 'id' : compagnieAerienneVol.id }) }}'>
        <button type="submit">Supprimer la compagnie aérienne</button>
    </form>
    <form action='{{ path('CompagnieAerienneVol_list') }}'>
        <button type="submit">Liste des compagnies aériennes</button>
    </form>
{% endblock %}
