{% extends '::base.html.twig' %}

{% block body %}
    <header>
        <h1>{% trans %}title.loginList{% endtrans %}</h1>
    </header>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>{% trans %}label.login{% endtrans %}</th>
                <th>{% trans %}label.administrator{% endtrans %}</th>
                <th>{% trans %}label.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for login in logins %}
                <tr>
                    <td>{{ login.login }}</td>
                    <td>{% if login.admin %}{% trans %}label.yes{% endtrans %}{% else %}{% trans %}label.no{% endtrans %}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('login_show', { 'id': login.id }) }}">{% trans %}button.show{% endtrans %}</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('login_edit', { 'id': login.id }) }}">{% trans %}button.edit{% endtrans %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('login_add') }}">{% trans %}button.create{% endtrans %}</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
