{% extends '::base.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table>
        <thead>
            <tr>
                <th>Login</th>
                <th>Administrateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for login in logins %}
                <tr>
                    <td>{{ login.login }}</td>
                    <td>{% if login.admin %}Oui{% else %}Non{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('login_show', { 'id': login.id }) }}">Détails</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('login_edit', { 'id': login.id }) }}">Modifier</a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('login_add') }}">Créer un nouvel utilisateur</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
