{% extends '::base.html.twig' %}

{% block body %}
    <header>
        <h1>{% trans %}title.loginCreate{% endtrans %}</h1>
    </header>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="{% trans %}button.create{% endtrans %}" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('login_list') }}">{% trans %}link.returnList{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
