{% extends '::base.html.twig' %}

{% block body %}
    <header>
        <h1>{% trans %}title.utilisateur{% endtrans %}</h1>
    </header>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ login.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}label.login{% endtrans %}</th>
                <td>{{ login.login }}</td>
            </tr>
            <tr>
                <th>{% trans %}label.administrator{% endtrans %}</th>
                <td>{% if login.admin %}{% trans %}label.yes{% endtrans %}{% else %}{% trans %}label.no{% endtrans %}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}label.active{% endtrans %}</th>
                <td>{% if login.active %}{% trans %}label.yes{% endtrans %}{% else %}{% trans %}label.no{% endtrans %}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('login_list') }}">{% trans %}link.returnList{% endtrans %}</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('login_edit', { 'id': login.id }) }}">{% trans %}button.edit{% endtrans %}</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
