{% extends 'base.html.twig' %}

{% block body %}
    <h1>Escales list</h1>
    <a href="{{ path('escale_new') }}">
        <button type="button" class="btn btn-info">
            Create a new Escale
        </button>
    </a>
    {% for escale in escales %}
    {% include 'RocketfireAgenceMainBundle:Escale:table.body.html.twig' %}
    {% endfor %}
{% endblock %}
