<body>
    <h1>Inscription</h1>   
    <form action='{{ path('create_client_particulier') }}'>
        <button >Particulier</button>
    </form>
         <form action='{{ path('create_client_association') }}'>
        <button >Association</button>
    </form>
         <form action='{{ path('create_client_entreprise') }}'>
        <button >Entreprise</button>
    </form>
</body>
