<tr>
    <td>Rue </td>
    <td>{{ form_row(form.adresse.adresse, {'label': ' '}) }}</td>
</tr>
<tr>
    <td>Code postal </td>
    <td>{{ form_row(form.adresse.codePostal, {'label': ' '}) }}</td>
</tr>
<tr>
    <td>Ville </td>
    <td>{{ form_row(form.adresse.ville, {'label': ' '}) }}</td>
</tr>
<tr>
    <td>Pays </td>
    <td>{{ form_row(form.adresse.pays, {'label': ' '}) }}</td>
</tr>
