{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienne:deleteCompagnieAerienne{% endblock %}

{% block body %}
    <h1>Supprimer la compagnie aérienne</h1>
    Suppression de la compagnie {{ compagnieAerienne.id }}
    <form action='{{ path('CompagnieAerienne_list') }}'>
        <button class="btn btn-danger" type="submit">Ok</button>
    </form>
{% endblock %}
