{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienne:deleteCompagnieAerienne{% endblock %}

{% block body %}
<h1>Welcome to the CompagnieAerienne:deleteCompagnieAerienne page</h1>
{% endblock %}
