{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienne:editCompagnieAerienne{% endblock %}

{% block body %}
<h1>Welcome to the CompagnieAerienne:editCompagnieAerienne page</h1>
{% endblock %}
