{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienne:listCompagnieAerienne{% endblock %}

{% block body %}
<h1>Welcome to the CompagnieAerienne:listCompagnieAerienne page</h1>
{% endblock %}
