{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienne:listCompagnieAerienne{% endblock %}

{% block body %}
<h1>Welcome to the CompagnieAerienne:listCompagnieAerienne page</h1>

<table>
        <tr>
            <th>Identifiant</th>
            <th>Nom</th>
        </tr>
        {% for compagnie in compagnieAeriennes %}
            {# boucle de construction de la liste des compagnies #}
            <tr>
                <td>{{ compagnie.id }} </td>
                <td>{{ compagnie.nom }}</td>
            </tr>
        {% endfor %}
    </table>
{% for flashMessage in app.session.flashBag.get('notice') %}
        <p>
            {{ flashMessage }}
        </p>
    {% endfor %}
    <form action='{{ path('CompagnieAerienne_add') }}'>
        <button type="submit">Ajouter une compagnie A&#233;rienne</button>
    </form>


{% endblock %}
