{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienne:showCompagnieAerienne{% endblock %}

{% block body %}
<h1>Welcome to the CompagnieAerienne:showCompagnieAerienne page</h1>
Num&#233;ro identifiant : {{ compagnieAerienne.id }}&nbsp;
Nom de la compagnie : {{ compagnieAerienne.nom }}
{% endblock %}
